:root {
    font-family: monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
}

hr {
    width: min(max(30%, 20rem), 40rem, 100%);
    border: none;
    border-top: 1px solid black;
    border-bottom: 0;
}

button {
    /* reset default styles */
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    font: inherit;

    /* new styles */
    padding: 0.4rem 1.2rem;
    border: 1px solid black;
    cursor: pointer;
}

button:hover {
    background: silver;
}

button:active {
    background: grey;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    overflow: hidden;
    padding: 0px 10px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.title-container {
    width: 24rem;
    display: flex;
    justify-content: center;
}

.title-text-container {
    display: flex;
    justify-content: center;
}

.title-text {
    font-size: 3rem;
    font-weight: bolder;
    line-height: 1;
    height: 100%;
    cursor: default;
}

.content-container {
    width: 100%;
    text-align: center;
}

.items-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 1.6;
}

.github-link {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.danger {
    font-weight: bold;
    color: red;
}